*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80z), linear-gradient(90deg, rgba(193,103,29,0.4962359943977591) 0%, rgba(95,9,121,0.48503151260504207) 51%, rgba(94,0,255,0.49343487394957986) 100%);
    background-blend-mode: multiply;
    color: white;
}
h1, h1+p{
    text-align: center;
}
form{
    max-width: 60%;
    margin: auto;
    background-color: rgba(151, 113, 180, 0.5);
    background-blend-mode: multiply;
    border-radius: 10px;
    padding: 5px;
}
input:invalid {
    border: 3px solid red;
  }
input:valid {
    border: 3px solid green;
  }
fieldset{
    padding: 1.4rem;
}
fieldset:last-child p{
    margin-top: 4rem;
}

.submit, .yrnkhii{
    width: 90%;
    margin: 0.8rem 0;
}
#review{
    color: black;
    padding: 30px;
}
  