*{
    font-family:Arial, Helvetica, sans-serif;
}
.container{
    background-color: rgba(137, 176, 223);
    width: 100vw;
    height: 90vh;
}
form{
    display: flex;
    justify-content: center;
}
.row{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.row1{
    background-color: white;
    border-radius: 20px 0 0 20px ;
}
.row1 input::placeholder,.row_1 input, .row_1 select{
    color:rgb(128, 127,  131);
}
input, select{
    border: none;
    padding: 10px;
    background: transparent;
    border-bottom: 1px solid grey;
    font-size: 18px;
    margin-top: 30px;
}
.row2 input::placeholder, .row2 select, a, .row2 label{
    color: white;
}  
.row2 input, .row2 select{
    
    border-bottom: 1px solid white;
}
h2{
    color:rgb(38, 84, 157);
    margin: 0;
}

.row2 h2{
    color:white
}
.row2{
    background-color:rgb(58, 58, 193);
    border-radius: 0 20px 20px 0 ;
}
#register{
    background-color: white;
    border: inset 2px grey;
    border-radius: 20px;
    width: 150px ;
    padding: 5px;
}

.address {
    display: flex;
}

.address-two{
    flex: 1;

}

.place{
    width: 100%;
}

