body{
    margin: auto 0;
}
.header{
    background-color: rgba(137, 176, 223);
    height: 55vh;

}
h2{
    font-weight: 800;
}
.row{
    display: flex;  
}
.col-2{
    width: 100/ 2 ;
    padding: 1rem;

}
.left h2{
    color:rgb(38, 84, 157) ;
}
.left{
    background-color: white;
    color: grey;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.right{
    background-color:rgb(58, 58, 193) ;
    color: white;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.left input{
    border: none;
    border-bottom: 2px groove rgb(205, 202, 202);
    padding: 1.3rem;
    outline: none;
}
.left select{
    border: none;
    border-bottom: 2px groove rgb(205, 202, 202);
    padding: 1.3rem;
}
.right input{
    border: none;
    border-bottom: 2px groove rgb(205, 202, 202);
    background-color:rgb(58, 58, 193);
    color: white;
    padding: 1.3rem;
    outline: none;
}
.right input::placeholder{
    color: white;
}
.right select{
    background-color:rgb(58, 58, 193);
    border: none;
    border-bottom: 2px groove rgb(205, 202, 202);
    color: white;
    padding: 1.3rem;

}
#sub{
    border-left:grey 1px groove ;
    border-top: 1px grey groove;
    border-right: black 1px groove;
    border-bottom: 1px bklack groove;
    background-color: white;
    color: black;
    border-radius: 2rem;
    padding: 0.5rem;
}

