body{
display: flex;    
}
.container{
    align-self: center ;
    width: 440px;
    height: 500px;
    background-color: aqua;
    color: black;
    margin: 0 auto;
}
.box{
 width: 400px;
 height: 50px;
 font-size: 1.5rem;
 padding: 20px;
 border-top: 1px green solid;
 transition-duration:1s, 1s, 3s, 1s ;
 transition-delay: 0, 0, 2s, 0;
 transition-property: height, background-color, font-size, color ;
}
.box:hover{
    background-color: brown;
    height: 100px;
    color: rgb(228, 63, 3);
    font-size: 3rem;
}