body {
    height: 100vh;
    background-color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
  }
  
  button {
    background-color: #7ac1e4; 
    border: none;
    border-radius: 80px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
  }
  .row{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center
  }
  .col4{
    width: calc(100%/4);
    height: 100px;
    border: 1px black solid;
    margin: 5px;
  }