@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
*{
    font-family: 'Inter', sans-serif;
    padding: 0px;
    margin: 0px;
}
body{
    overflow-x: hidden;
    padding: 20px 15px;
}
.nav-top{
    align-items: center;
}
nav button{
    padding: 10px;
    background-color: transparent;
    font-size: smaller;
    border: 1px solid;
    border-radius: 8px;
    color: rgb(0, 102, 255);
}
.nav-bottom{
    color: grey;
}
.nav-bottom p{
    font-size: small;
    padding: 8px ;
}
.nav-bottom p:hover{
    border-radius: 8px;
    background-color: rgba(71, 168, 248, 0.162);
}
.search{
    min-width: 50%;
}
.search input{
    background-color: rgba(128, 128, 128, 0.181);
    height: 30px;
}
main{
    width: 80%;
    margin: 0px auto;
}
.card:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.211);
}
.img{
    height: 50%;
    overflow: hidden;
}
.card img{
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.price{
    font-weight: 900;
}
.card-text{
    color: grey;
    font-size: smaller;
}
.card button{
    padding: 10px;
    background-color: transparent;
    font-size: smaller;
    border: 1px solid;
    border-radius: 8px;
    color: rgb(0, 102, 255);
}
.card button:hover{
    background-color: rgba(209, 208, 208, 0.248);
}

.sidebar{
    position: absolute;
    min-height: 100vh;
    z-index: 2;
    width: 400px;
    box-shadow: -5px 0px 10px rgba(91, 91, 91, 0.303);
    background-color: rgb(255, 255, 255);
    right: -400px;
    top: 0;
    transition: all 0.5s;
}
.sags2{
    right: 0px;
}
.burtgel{
    position: relative;
}
.burtgel p{
    color: white;
    background-color: rgb(13, 98, 244);
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 5px 0px 0px 10px;
    border-radius: 50%;
    top: -15px;
    right: -15px;
}
.sidebar-top{
    padding: 5px 15px 0px 15px ;
}
.sidebar-top button{
    padding: 0;
    border: none;
    background-color: transparent;
    color: grey;
}
.sidebar-top button:hover{
    color: rgb(74, 74, 74);
}
.sidebar-item{
    height: 100px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(7, 212, 160);
}
.sidebar-item-title :nth-child(2){
    font-weight: 700;
    font-size: 1rem;
    color: rgb(6, 63, 250);
}
.sidebar-item-title :nth-child(3){
    font-size: 1rem;
}
.sidebar-item img{
    max-width: 150px;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.sidebar-item p{
    font-size: 1rem;
    color: black;
}
.count button{
    padding: 0px 5px;
    border: 2px solid rgba(128, 128, 128, 0.306);
    color: rgb(119, 119, 119);
    background-color: transparent;
    border-radius: 5px;
    font-size: 15px;
}
.green{
    color: rgb(166, 166, 241);
}
.hero-section img{
 height: 50vh;
}
.shop{
    color: rgb(64, 64, 236);
    background-color: rgb(208, 223, 236);
    border-radius: 50%;
    width: 90px;
}
